
.mainFxmlClass {

    -fx-background-color: #F8F8F8; 
    -fx-padding: 25px; 
}


#menu {

    -fx-background-color: #1E8449; 
    -fx-background-radius: 15px; 
    -fx-padding: 10px 0 10px 0; 
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.0, 0, 2);
}

#lbWelcome{
    -fx-text-fill: white;
    -fx-font-size: 18px;
}
#hBoxWelcome{
    -fx-padding : 0px 0px 60px 0px;
}



#menu .toggle-button {
   
    -fx-max-width: infinity; 
    -fx-min-height: 40px;
    
    -fx-background-color: transparent; 
    -fx-text-fill: #E0E0E0; 
    
    -fx-font-weight: bold;
    -fx-font-size: 14px;

    -fx-transition: -fx-background-color 0.2s ease;
}


#menu .toggle-button:hover {
    -fx-background-color: #4C6E56; 
    -fx-cursor: hand;
}


#menu .toggle-button:selected {
    -fx-background-color: #6EB27F; 
    -fx-text-fill: #ffffff; 
    -fx-font-weight: bold;
}


#view {
    -fx-background-color: white;
    -fx-background-radius: 15px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 10, 0.0, 0, 2);
    -fx-padding: 20px;
}




