
.mainFxmlClass {
    -fx-background-color: #ffffff; 
}




.text-field {
    -fx-pref-width: 200px;
    -fx-font-size: 14px;
    -fx-border-color: #ccd;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

