/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}
.card-container {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #1E8449;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 5);
}

.card-container:hover {
    -fx-cursor: hand;
}

.card-title {
    -fx-text-fill: #1E8449;
}

.card-content {
    -fx-text-fill: #555555;
    -fx-padding: 5 0 0 0;
}

.card-date {
    -fx-font-size: 11px;
}